:root {
    --color-1: #EEEEEE;
    --color-2: #1B2430;
    --color-3: #1B2430;
    --span: 500px;
    --side: 16;


    font-family: sans-serif;
    text-align: center;
}

/* * {
    outline: auto;
    outline-color: lightcoral;
} */

.dark-mode {
    --color-1: #1B2430;
    --color-2: #EEEEEE;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pad {
    width: 75px;
    height: 50px;
}

button {
    background-color: var(--color-1);
    color: var(--color-2);
    border: var(--color-1) solid;
    font-size: 16px;
    width: 75px;
    height:40px;
    border-radius: 100vw;
    text-align: center;
    transition: ease-out 0.1s;
}


button:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

button:active {
    transform: scale(1);
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.control {
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: 10px;
    width: var(--span);
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#color-picker {
    background-color: inherit;
    width: 40px;
    height:40px;
    padding: 0;
    border: var(--color-2) solid;
}

.board {
    border: var(--color-2) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: var(--span);
    height: var(--span);
}

.row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    width: calc(var(--span) / var(--side));
    height: calc(var(--span) / var(--side));
    transition : 0.2s;
}

.column:hover {
    background-color: var(--color-3);
    transition: 0s;
}

.footer {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 20px;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    color: inherit;
}